body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #7a09c1;
}


.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('fondo.png') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

.container {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
}



h1 {
    margin-bottom: 20px;
    font-size: 40px;
}

.container-result {
    background-color: #fff;
    width: 60%;
    margin: 0 auto;
}

#resultado {
    padding: 8px;
}

.input-panel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-column {
    flex: 1;
    padding: 0 10px;
    box-sizing: border-box;
}

.input-group {
    width: 200px;
    margin-bottom: 15px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}


.input-group input {
    border: none;
    font-size: 50px;
    background-color: #505075;
    width: 100px;
    padding: 25px 10px;
    text-align: center;
    color: #f3f3f3;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}


button {
    padding: 15px 20px;
    border: none;
    background-color: #7a09c1;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin: 5px;
}

button:hover {
   opacity: 0.9;
}

